body {
	background: url('/assets/images/zombieapoc.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-color: #49693A;
}

.checklist-body {
	width: 800px;
	height: 800px;
	background-position: 0 auto;
	background-color: #49693A;
}