body {
	background: url('/assets/images/zombieapoc.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-color: #49693A;
	font-family: 'Indie Flower', cursive;
	font-color: white;

}

.checklist-background {
	width: 800px;
	height: 800px;
	z-index:-1;
	position:absolute;
	display: block;
    margin: 0 auto;
    left:0; 
    right:0;
/*	background-color: #49693A;
	opacity: 0.7;
    filter: alpha(opacity=70); */
    background: url('/assets/images/creepybackground.jpg') no-repeat;
    box-shadow: 3px 15px 5px #000000;

}

.checklist-container {
	width: 750px;
	height: 700px;
	position:absolute;
	display: block;
    margin: 0 auto;
    left:0; 
    right:0;
    padding-left: 50px;
    background: url('/assets/images/foundpaper4.png') center no-repeat;
}

.dramatic-tape {
	color: #af111c;
    background-color: rgba(220,212,176,0.90);

    width: 700px;
    margin-top: 50px;

    text-transform: uppercase;

    -webkit-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, .75);
	box-shadow: 0 4px 10px -4px rgba(0, 0, 0, .75);

	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
}

.checklist {
	width: 700px;
	height: 600px;
	position:absolute;
	display: block;
    margin: 0 auto;
    left:0; 
    right:0;
    margin-left: 175px;
    font-size: 1.25em;
    font-weight: 700;
}

.fitted{
    width: 500px;
    padding-bottom: 25px;
}

.wordwrap{
    width: 400px;
    padding-right: 10px;
    word-wrap: break-word;
}


.squaredThree {
    width: 20px;    
    margin: 20px auto;
    position: relative;
}

.squaredThree label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    border-radius: 4px;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

