<div class="checklist-background"></div>

	<div class="checklist-container">
		<h1 class="dramatic-tape">Zombie Apocalypse Survival Checklist:</h1>

		<div class="checklist">
			<h1>test thing</h1>
		</div>

	</div>

{{outlet}}