<div class="checklist-background"></div>

	<div class="checklist-container">
		<h1 class="dramatic-tape">Zombie Apocalypse Survival Checklist:</h1>
		<div class="checklist">
			<section id="main">

				<ul id="tasks-list">
					<li class="completed">
						<label>Get to high ground.</label>
						<input type="checkbox" class="toggle">
					</li>
					<li>
						<label>Restock tuna.</label>
						<input type="checkbox" class="toggle">
					</li>
					<li>
						<label>Find a twinkie.</label>
						<input type="checkbox" class="toggle">
					</li>
				</ul>
				
			</section>
		</div>
	</div>
{{outlet}}


